{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/download.css'  %}">
    <link rel="shortcut icon" href="{% static 'main/favicon.svg' %}" type="image/x-icon">
    <title>Download Animate99</title>
</head>

<body>
    <header>
        <nav>
            <div class="anim">
                <div class="logo-head">
                    <h1>Animate</h1>
                </div>
                <div class="logo-num"><a href="{% url 'home' %}">
                    <span>99</span></a></div>
            </div>
            <div class="nav-cont">
                {% if request.user.is_authenticated %}
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a href="{% url 'documentation' %}">Documentation</a></li>
                    <li class="nav-item"><a href="{% url 'library' %}">Dashboard</a></li>
                    <li class="nav-item"><a href="{% url 'support' %}">Support</a></li>
                </ul>
                {% else %}
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a href="{% url 'documentation' %}">Documentation</a></li>
                    <li class="nav-item"><a href="{% url 'download' %}">Download</a></li>
                    <li class="nav-item"><a href="{% url 'support' %}">Support</a></li>
                </ul>
                {% endif %}
                <div class="btns">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'download' %}"><button class="btn-head-2">Download</button></a>
                    
                    {% else %}
                    <a href="{% url 'accounts:login' %}"><button class="btn-head">Sign In</button></a>
                    <a href='..\accounts\register'><button class="btn-head-2">Register</button></a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="content">
            <h1>Ready to use our library?</h1>
            <p>Register with Animate99 to gain access to our library of animations. Make your programs more interactive
                when you
                implement our animations on your next web project!</p>

            <a href="{% url 'download-file' %}" download><button class="down-btn">Download Library <span class="iconify" data-icon="el:download-alt"></span></button></a>

            

        </div>
    </header>















    <div class="footer">
        <div class="footer-top">
            <div class="foot-top-left">
                <div class="logo-foot">
                    <h1>Animate</h1>
                    <div class="logo-num"><span>99</span></div>
                </div>
                <div class="foot-top-text">
                    <p>
                        Animate99 is an animation library created by Team 99 as a
                        necessary requirement to complete the I4GxZuri Internship program.
                    </p>
                </div>
            </div>
            <div class="foot-top-right">
                <div class="foot-top-right-1">
                    <h2>Navigation</h2>
                    <a href="{% url 'home' %}">
                        <p>Home</p>
                    </a>
                    <a href="{% url 'documentation' %}">
                        <p>Documentation</p>
                    </a>
                    <a href="{% url 'support' %}">
                        <p>Support</p>
                    </a>
            
                </div>
                <div class="foot-top-right-2">
                    <h2>Resources</h2>
                    <a href="https://github.com/zuri-training/Team99_anima_lib/graphs/contributors">
                        <p>Team</p>
                    </a>
                   
                    <a href="{% url 'download' %}">
                        <p>Download</p>
                    </a>
                </div>
                <div class="foot-top-right-3">
                    <h2>Installation</h2>
                    <a href="{% url 'download' %}">
                        <p>How to install</p>
                    </a>
                </div>
            </div>
            </div>
        </div>
        <div class="footer-mid">
            <div class="footer-mid-top">
                <p>v1.0</p>
                <div class="create">
                    <p>Created by Team99</p>
                </div>
                <p>2022</p>
            </div>
    
            <div class="footer-mid-bottom">
                <p>&copy;ZuriTeam</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            Animate99 is a Zuri project animation library. You can use it freely,
            respecting the terms included in the license file.
        </p>
    </div>
</body>

</html>

<!-- <a href="{% url 'accounts:logout' %}">Logout user</a> -->