@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: white;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  width: 56px;
  height: 56px;
  background: #eebbc3;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #232946;
  transition: 0.3s ease;
  transition-property: background-color, color;
  margin-left: 4px;
  padding: 5px;
}

.cta:hover {
  color: #232946;
  background-color: white;
}

span,
span a {
  color: #6591e8;
}

/* Header Section */
 
 .header {
    height: 15vh;
    width: 100vw;
  transition: 0.3s ease background-color;
  font-family: "DM Sans";
  font-style: normal;
  font-size: 18px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  #232946;
}

 .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  gap: 10px;
  border-bottom: 0.3px solid #d0d6f2;
 
}

.brand {
  align-self: center;
  height: 44px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

 .nav-list {
  display: flex;
  gap: 40px;
}


 .nav-list  a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #b8c1ec;
}

.nav-list a:hover {
  text-decoration: underline;
  color: #eebbc3;
}

.cta1 {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  font-weight: 700;
  width: 167px;
  height: 48px;
  line-height: 23px;
  background: #d0d6f2;
  color: #1d223a;
  border-radius: 4px;
}

.cta1:hover {
  background-color: #eebbc3;
  transition: 0.3s ease;
}

.mobile__navbar ul{
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  min-width: 100vw;
  min-height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}
.mobile__navbar ul.active{
  left: 0;
}
.mobile__navbar ul a{
  font-size: 2.0rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
} 
.mobile__navbar .cta1 {
  align-self: center;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 8px;
  font-weight: 700;
  width: max-content;
  background: #d0d6f2;
  color: #1d223a;
  border-radius: 4px;
}
.mobile__navbar ul a::after{
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  color: rgba(240, 248, 255, 0.021);
  /* font-size: 13rem;
  letter-spacing: 50px; */
  z-index: -1;
  transition: .3s ease letter-spacing;
}
.mobile__navbar ul li:hover a::after{
  transform: translate(-50%, -50%) scale(1);
}
.mobile__navbar ul li:hover a{
  color: #eebbc3;
} 
.mobile__navbar .hamburger{
  height: 60px;
  min-width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}
.mobile__navbar .hamburger::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
.mobile__navbar .hamburger .bar{
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
.mobile__navbar .hamburger .bar::after,
.mobile__navbar .hamburger .bar::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}
.mobile__navbar .hamburger .bar::after{
  top: 8px;
}
.mobile__navbar .hamburger .bar::before{
  bottom: 8px;
}
.mobile__navbar .hamburger.active .bar::after{
  top: 0;
}
.mobile__navbar .hamburger.active .bar::before{
  bottom: 0;
}

/* End Header Section */

/* <!-- Documentation Section --> */
.documentation {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.col-left {
  width: 26%;
  padding: 40px;
  background: #f1f3fb;
}

.first-col {
  gap: 10px;
  padding: 40px 0px;
  line-height: 27px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #1d223a;
  box-sizing: border-box;
  width: max-content;
}

#book {
  padding: 10px;
  width: 44px;
  height: 44px;
  background: #eebbc3;
  border-radius: 8px;
  background-image: url("Book-icon.svg");
  background-position: center;
  background-size: cover;
}

.heading h1 {
  height: clamp(22px, 2.5vw, 36px);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-left: 20px;
}

.list {
  border-left: 1px solid #eebbc3;
  height: 117px;
  padding: 0px 20px;
  margin: 20px;
}
.list ul li a {
  color: #1d223a;
}

.list ul {
  list-style: none;
  width: 100%;
  line-height: 2.2;
}

.list ul li a:hover {
  text-decoration: underline;
  color: #eebbc3;
}

.col-right {
  background-color: white;
  font-family: "DM Sans";
  font-style: normal;
  width: 75%;
  height: 100%;
  color: #1d223a;
  font-weight: 700;
}

.project-item {
  padding: 60px;
}

 h1 {
  font-size: 48px;
  line-height: 1.3;
}

 h2 {
    font-size: clamp(22px, 2.5vw, 32px);
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  line-height: 1.3;
}

 p {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  color: #484d65;
  line-height: 27px;
}

.code {
  width: 100%;
  height: 432px;
  background: #1c1c1f;
  border-radius: 8px;
  color: #ffffff;
  position: relative;
}

.code2 {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1f;
  border-radius: 8px;
  color: #ffffff;
}

pre {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.code pre {
  text-align: left;
}


#Application {
  height: max-content;
}

.animations-col {
  display: flex;
  flex-direction: column;
  background: #1d223a;
  border-radius: 0.5em;
  /* width: 800px; */
}

.animations-col:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.a-cont-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
  color: #b8c1ec;
  padding: 20px;
  grid-gap: 20px;
}


#rotate:hover {
  width: 50px;
  height: 50px;
}

/* <!-- End Documentation Section --> */

/*         FOOTER SECTION          */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0px;
  top: 3343px;
  background: #f1f3fb;
  padding: 20px 0;
  align-content: center;
}

.footer-top {
 justify-content: space-between;
  align-self: center;
  display: flex;
  border-bottom: 1px solid #232946;
  width: 80%;
  margin: auto;
  gap: 50px;
}

.foot-top-left {
  display: flex;
  flex-direction: column;
}

.foot-top-left .brand {
  color: #232946;
  align-self: flex-start;
}

/* .logo-foot {
    display: flex;
    gap: 25px;
  } */
.logo-foot h1 {
  width: 137px;
  height: 44px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  color: #232946;
}

.foot-top-text {
  margin-top: 1.5em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 21.6px;
  color: #232946;
}

.foot-top-right {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.foot-top-right-1,
.foot-top-right-2,
.foot-top-right-3 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: #232946;
}

.foot-top-right-1 p,
.foot-top-right-2 p,
.foot-top-right-3 p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  text-decoration-line: underline;
  cursor: pointer;
  color: #232946;
}

.footer-mid {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  gap: 1em;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;

  color: #232946;
}

.footer-mid-top {
  display: flex;
  gap: 0.5em;
}

.create {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.create p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 10px;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 443px;
  background-color: #f4d2d7;
}

.footer-bottom p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232946;
}

.mobile__navbar{
    display: none;
}

/*  Keyframes */
@keyframes hamburger_puls{
  0%{
      opacity: 1;
      transform: scale(1);
  }
  100%{
      opacity: 0;
      transform: scale(1.5);
  }
}

/* End Keyframes */

@media screen and (max-width: 992px) {

    .header {
        height: 10vh;
      }
    h1 {
        font-size: 32px;
        line-height: 1.2;
      }
    .nav-bar{
        display: none;
    }
    .mobile__navbar {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
      }

    .project-item {
        padding: 30px;
      }

      .hamburger{
            color: white;
            font-size: 22px;
      }

    .documentation{
        display: flex;
        flex-direction: column;
    }

    .col-left, .col-right{
        width: 100%;
    }

    pre {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "IBM Plex Mono";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        text-align: justify;
        color: #484d65;
        line-height: 1.5;
      }

      .foot-top-right {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-gap: 50px;
        width: 100%;
      }

      .footer-bottom p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #232946;
      }
      
}

@media screen and (max-width: 480px) {


    .project-item {
      padding: 20px;
    }

    pre {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "IBM Plex Mono";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        text-align: justify;
        color: #484d65;
        line-height: 1.5;
      }

      .a-cont-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        cursor: pointer;
        color: #b8c1ec;
        padding: 20px;
        grid-gap: 20px;
      }


      .foot-top-right {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        width: 100%;
      }

      .footer-bottom p {
        font-size: 12px;
        line-height: 18px;
        color: #232946;
      }

      .foot-top-right-1 p, .foot-top-right-2 p, .foot-top-right-3 p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 31px;
        text-decoration-line: underline;
        cursor: pointer;
        color: #232946;
      }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
      .mobile__navbar{
        display: none;
      }
      .list ul {
        list-style: none;
        width: 100%;
        line-height: 1.2;
      }
      .heading h1 {
        font-size: 20px;
      }
}


@media screen and (min-width: 1201px) {
      .mobile__navbar{
        display: none;
      }
}
