@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-left: 5em;
  padding-right: 4em;
  background-color: #232946;
  height: 80px;
  margin-bottom: 4em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3px 0px 0px;
  gap: 140px;
  margin-bottom: 4em;
  margin-top: 1em;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: #D0D6F2;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline #eebbc3;
}

.anim {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logo-head h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.logo-num {
  width: 56.32px;
  height: 48px;
  background: #eebbc3;
  border-radius: 8px;
  padding: 0.4em;

  /* Additions */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-num span {
  color: #232946;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.nav-cont {
  display: flex;
  align-items: center;
  padding: 0px 2px 0px 0px;
  gap: 130px;
}

.nav-list {
  display: flex;
  align-items: center;
  padding-left: 2em;
  gap: 30px;
  list-style-type: none;
}


.btn-head {
  padding: 8px, 12px;
  border-radius: 4px;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  border: 1px solid #232946;
  background-color: #D0D6F2;
  color: #232946;
  line-height: 23.44px;
  width: 155px;
  height: 48px;
}

.btns {
  display: flex;
  gap: 24px;
  align-items: center;
}

.btn-info-text {
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 16px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  border: none;
}

.logo-head {
  display: flex;
  padding: 10px 0px;
  gap: 10px;
}

.header-box-1 {
  border: 1px solid #232946;
  background-color: #232946;
  padding: 2em;
  border-radius: 4px;
  text-align: center;
  margin-left: 5em;
  margin-right: 4em;
}

.box-1-text {
  line-height: 96px;
}

.box-1-text h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 46px;
  color: white;
  margin-top: 48px;
  margin-bottom: 8px;
}

.box-1-text p {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 26px;
  color: white;
  margin-bottom: 48px;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  padding-left: 5em;
  padding-right: 4em;
}

.header-box-2 {
  background-color: #232946;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 4px;
  position: relative;
}

.box-2-text h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: white;
  text-align: center;
  margin-bottom: 16px;
}

.box-2-text p {
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  color: white;
  margin-bottom: 77px;
  text-align: center;
}

.get-btn {
  border-radius: 4px;
  font-size: 16px;
  font-family: "DM Sans";
  background-color: #232946;
  color: #fcf1f3;
  text-align: center;
  padding: 1rem;
  position: absolute;
  left: 25%;
  bottom: 0;
  border: 1px solid #ffffff;
  margin-bottom: 2em;
}

.header-box-3 {
  background-color: #232946;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 4px;
  position: relative;
}

.box-3-text h1 {
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 36px;
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.box-3-text p {
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  color: white;
  margin-bottom: 77px;
text-align: center;
}

.dow-btn {
  border-radius: 4px;
  font-size: 16px;
  font-family: "DM Sans";
  background-color: #232946;
  color: #fcf1f3;
  text-align: center;
  padding: 1rem;
  position: absolute;
  left: 25%;
  bottom: 0;
  border: 1px solid #ffffff;
  margin-bottom: 2em;
}

.header-box-4 {
  position: relative;
  background-color: #232946;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 4px;
}

.box-4-text h1 {
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 36px;
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.box-4-text p {
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  color: white;
  margin-bottom: 77px;
  text-align: center;
}

.us-btn {
  border-radius: 4px;
  font-size: 16px;
  font-family: "DM Sans";
  background-color: #232946;
  color: #fcf1f3;
  text-align: center;
  padding: 1rem;
  position: absolute;
  left: 25%;
  bottom: 0;
  border: 1px solid #ffffff;
  margin-bottom: 2em;
}

/*               MID SECTION BEGINS           */

.middle {
  display: flex;
  padding: 1em;
  margin-top: 40px;
  padding-left: 5em;
  padding-right: 4em;
}

.middle-text {
  width: 80%;
  margin-bottom: 1em;
  font-family: "DM Sans", sans-serif;
}

.middle-text h1 {
  color: #232946;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 36px;
  line-height: 72px;
  width: 80%;
}

.middle-text p {
  font-weight: 500;
  color: #232946;
  font-size: 24px;
  line-height: 48px;
  width: 70%;
}

.contact-form {
  border-radius: 28px;
  background-color: #232946;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form input,
.contact-form button {
  color: hsl(249, 10%, 26%);
  border: 1.5px solid #ffffff;
  border-radius: 4px;
  margin-bottom: 24px;
}

.contact-form input:not([type="radio"]) {
  padding: 14px 268px 14px 16px;
}

.contact-form textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background: #ffffff;
  border-radius: 4px;
  width: 100%;
}

.register {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 2.5em;
}

.radioButtons {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 10.8px;
}

.radioButtons label {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.radioButtons label:hover {
  cursor: pointer;
}

.radioButtons input:hover {
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px !important;
  height: 10px !important;
  padding: 10px;
  margin-top: 20px;
  position: relative;
}

input[type="radio"]:checked::before {
  position: absolute;
  color: white;
  content: "\2713" !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-btn {
  font-weight: 700;
  margin-top: 20px;
  line-height: 21px;
  font-size: 16px;
  width: 25% !important;
  background-color: #232946 !important;
  color: #e8e8eb !important;
  padding: 0.8rem 0.5rem !important;
  border-radius: 4px !important;
}

/*         FOOTER SECTION          */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 380px;
  left: 0px;
  top: 3343px;
  background: #f1f3fb;
  padding: 2em;
  align-content: center;
}

.footer-top {
  align-self: center;
  display: flex;
  border-bottom: 1px solid #232946;
  width: 90%;
  gap: 6em;
  /* margin-top: 2em; */
}

.foot-top-left {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.logo-foot {
  display: flex;
  gap: 26px;
}

.logo-foot .logo-num {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background: #eebbc3;
  border-radius: 8px;
  padding: 0.2em;
}

.logo-foot h1 {
  width: 137px;
  height: 44px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  color: #232946;
}

.foot-top-text {
  margin-top: 1.5em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 21.6px;
  color: #232946;
}

.foot-top-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  gap: 20px;
  width: 761px;
  height: 219px;
  left: 631px;
  top: 75px;
}

.foot-top-right-1,
.foot-top-right-2,
.foot-top-right-3 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 31px;
  color: #232946;
}

.foot-top-right-1 p,
.foot-top-right-2 p,
.foot-top-right-3 p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  cursor: pointer;
  color: #232946;
}

.footer-mid {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  gap: 1em;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  color: #232946;
}

.footer-mid-top {
  display: flex;
  gap: 0.5em;
}

.create {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.create p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 186px;
  gap: 10px;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 443px;
  background-color: #f4d2d7;
}

.footer-bottom p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #232946;
}