{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'user_review/style.css' %}" />
    <title>Library</title>
  </head>
  <body>
    <div class="dashboard">
      <div class="dashboard-sidebar">
        <h2 class="sidebar-title">Animate<span class="number">99</span></h2>
        <div class="dashboard-user">
          <img
            src="{% static 'user_review/man.jpg' %}"
            alt="user-image"
            class="dashboard-userImage"
          />
          <p class="dashboard-username">John Doe</p>
        </div>
        <div class="user-options">
          <div class="user-library sidebar-active">
            <img
              src="{% static 'user_review/library.png' %}"
              alt="heart-img"
              class="user-library-img"
            />
            <p class="title">Library</p>
          </div>

          <div class="user-usageExamples">
            <img
              src="{% static 'user_review/usage.png' %}"
              alt="heart-img"
              class="user-usageExamples-img"
            />
            <p class="title">Usage Examples</p>
          </div>

          <div class="user-likes">
            <img
              src="{% static 'user_review/heart.png' %}"
              alt="heart-img"
              class="user-likes-img"
            />
            <p class="title">My Likes</p>
          </div>

          <div class="user-settings">
            <img
              src="{% static 'user_review/setting.png' %}"
              alt="heart-img"
              class="user-settings-img"
            />
            <a href="{% url 'settings' %}"><p class="title">Settings</p></a>
          </div>
        </div>
        <div class="user-logout">
          <img
            src="{% static 'user_review/heart.png' %}"
            alt="heart-img"
            class="user-logout-img"
          />
          <p class="title">Logout</p>
        </div>
      </div>

      <div class="dashboard-main">
        <nav class="dashboard-nav">
          <ul class="dashboard-nav__list">
            <li class="dashboard-nav__list-item"><a href="#">Home</a></li>
            <li class="dashboard-nav__list-item active">
              <a href="#">Dashboard</a>
            </li>
            <li class="dashboard-nav__list-item">
              <a href="#">Documentation</a>
            </li>
            <li class="dashboard-nav__list-item"><a href="#">Support</a></li>
          </ul>
          <button class="dashboard-download">Download Library</button>
        </nav>

        <!-- dashboard-library"-->
        <section class="dashboard-library">
          <h2 class="dashboard-library__heading">Library</h2>
          <div class="dashboard-library__main">
            <div class="dashboard-library__main-type001">
              <div class="dashboard-library__main-type001--box">
                <div class="dashboard-library__main-type001--circle"></div>
              </div>

              <p class="dashboard-library__main-type001--name">Bounce</p>
              <div class="dashboard-library__main-type001--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>

            <!-- Second box  -->
            <div class="dashboard-library__main-type002">
              <div class="dashboard-library__main-type002--box">
                <div class="dashboard-library__main-type002--circle"></div>
              </div>

              <p class="dashboard-library__main-type002--name">Up</p>
              <div class="dashboard-library__main-type002--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>

            <!-- Third box  -->
            <div class="dashboard-library__main-type003">
              <div class="dashboard-library__main-type003--box">
                <div class="dashboard-library__main-type003--circle"></div>
              </div>

              <p class="dashboard-library__main-type003--name">Down</p>
              <div class="dashboard-library__main-type003--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>

            <!-- Fourth box  -->
            <div class="dashboard-library__main-type004">
              <div class="dashboard-library__main-type004--box">
                <div class="dashboard-library__main-type004--circle"></div>
              </div>

              <p class="dashboard-library__main-type004--name">Left</p>
              <div class="dashboard-library__main-type004--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>

            <!-- Fifth box  -->
            <div class="dashboard-library__main-type005">
              <div class="dashboard-library__main-type005--box">
                <div class="dashboard-library__main-type005--circle"></div>
              </div>

              <p class="dashboard-library__main-type005--name">Right</p>
              <div class="dashboard-library__main-type005--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>

            <!-- 6th box  -->
            <div class="dashboard-library__main-type006">
              <div class="dashboard-library__main-type006--box">
                <div class="dashboard-library__main-type006--circle"></div>
              </div>

              <p class="dashboard-library__main-type006--name">Blink</p>
              <div class="dashboard-library__main-type006--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>


            <!-- 7th box  -->
            <div class="dashboard-library__main-type001">
              <div class="dashboard-library__main-type001--box">
                <div class="dashboard-library__main-type006--circle"></div>
              </div>
            
              <p class="dashboard-library__main-type001--name">Fade In</p>
              <div class="dashboard-library__main-type001--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>

            <!-- 8th box  -->
            <div class="dashboard-library__main-type002">
              <div class="dashboard-library__main-type002--box">
                <div class="dashboard-library__main-type002--circle"></div>
              </div>
            
              <p class="dashboard-library__main-type002--name">Fade Out</p>
              <div class="dashboard-library__main-type002--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
            
            <!-- 9th box  -->
            <div class="dashboard-library__main-type003">
              <div class="dashboard-library__main-type003--box">
                <div class="dashboard-library__main-type003--circle"></div>
              </div>
            
              <p class="dashboard-library__main-type003--name">Pulse</p>
              <div class="dashboard-library__main-type003--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
            
            <!-- 10th box  -->
            <div class="dashboard-library__main-type004">
              <div class="dashboard-library__main-type004--box">
                <div class="dashboard-library__main-type004--circle"></div>
              </div>
            
              <p class="dashboard-library__main-type004--name">Flip</p>
              <div class="dashboard-library__main-type004--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>

            <!-- 11th box  -->
            <div class="dashboard-library__main-type005">
              <div class="dashboard-library__main-type005--box">
                <div class="dashboard-library__main-type005--circle"></div>
              </div>
            
              <p class="dashboard-library__main-type005--name">Shake</p>
              <div class="dashboard-library__main-type005--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
            
            <!-- 12th box  -->
            <div class="dashboard-library__main-type006">
              <div class="dashboard-library__main-type006--box">
                <div class="dashboard-library__main-type006--circle"></div>
              </div>
            
              <p class="dashboard-library__main-type006--name">Rotate</p>
              <div class="dashboard-library__main-type006--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
            
            <!-- 13th box  -->
            <div class="dashboard-library__main-type003">
              <div class="dashboard-library__main-type003--box">
                <div class="dashboard-library__main-type006--circle"></div>
              </div>
            
              <p class="dashboard-library__main-type003--name">Slide</p>
              <div class="dashboard-library__main-type003--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>
  </body>
</html>
