{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://anima99.bitbucket.io/script.js"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'user_review/style.css' %}" />
    <title>Library</title>
  </head>
  <body>
    <header class="head-top">
      <nav class="nav-top">
        <div class="anim">
          <div class="logo-head">
            <h1>Animate</h1>
          </div>
          <div class="logo-num"><span>99</span></div>
        </div>
        <div class="nav-cont">
          <ul class="nav-list">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">Documentation</a></li>
            <li class="nav-item"><a href="#">Dashboard</a></li>
            <li class="nav-item"><a href="#">Support</a></li>
          </ul>
        </div>
    
        <div class="btns">
          <button class="btn-head">Download Library</button>
        </div>
      </nav>
    </header>
  <div class="dashboard">
    <div class="dashboard-sidebar">
      <div class="dashboard-user">
        <img src="{% static 'user_review/man.jpg' %}" alt="user-image" class="dashboard-userImage" />
        <p class="dashboard-username">John Doe</p>
      </div>
      <div class="user-options">
        <div class="user-animation">
          <img src="{% static 'user_review/library.png' %}" alt="heart-img" class="user-animation-img" />
          <a href="{% url 'library' %}">
            <p class="title">Library</p>
          </a>
        </div>
  
        <div class="user-usageExamples">
          <img src="{% static 'user_review/usage.png' %}" alt="heart-img" class="user-usageExamples-img" />
          <a href="{% url 'usageexamples' %}">
            <p class="title">Usage Examples</p>
          </a>
        </div>
  
        <div class="user-likes">
          <img src="{% static 'user_review/heart-2.png' %}" alt="heart-img" class="user-likes-img" />
          <a href="{% url 'likes' %}">
            <p class="title">My Likes</p>
          </a>
        </div>
  
        <div class="user-settings sidebar-active">
          <img src="{% static 'user_review/setting.png' %}" alt="heart-img" class="user-settings-img" />
          <a href="{% url 'settings' user.pk %}">
            <p class="title">Settings</p>
          </a>
        </div>
      </div>
        <div class="user-logout">
          <img
            src="{% static 'user_review/logout.png' %}"
            alt="heart-img"
            class="user-logout-img"
          />
          <p class="title">Logout</p>
        </div>
      </div>

      <div class="dashboard-main">
        <!-- <nav class="dashboard-nav">
          <ul class="dashboard-nav__list">
            <li class="dashboard-nav__list-item"><a href="#">Home</a></li>
            <li class="dashboard-nav__list-item active">
              <a href="#">Dashboard</a>
            </li>
            <li class="dashboard-nav__list-item">
              <a href="#">Documentation</a>
            </li>
            <li class="dashboard-nav__list-item"><a href="#">Support</a></li>
          </ul>
          <button class="dashboard-download">Download Library</button>
        </nav> -->

        <!-- dashboard-library"-->
        
        <section class="dashboard-library">
          <h2 class="dashboard-library__heading">Library</h2>
          <div class="dashboard-library__main">
            {% for animation in animations %}
              {% if animation.name == 'bounce' %}
            <div class="dashboard-library__main-type001">
              <div class="dashboard-library__main-type001--box">
                <div class="dashboard-library__main-type001--circle" id="a-1" onmouseover="anima.bounce('a-1',500, 4)"></div>
              </div>
                
              <p class="dashboard-library__main-type001--name">bounce</p>
              <form action="{% url 'favourite' animation.pk %}" method="post">
                {% csrf_token %}
                <button style="background-color: transparent; border: none; box-shadow:none;" type="submit">
                    <div class="dashboard-library__main-type001--likes">
                      <span>{{animation.favourites.all.count}}</span>
                      {% comment %} <input type="hidden" name="next" value="{{request.path}}"> {% endcomment %}
                      {% if is_favourite %}
                      <h2>True</h2>
                      {% else %}
                        <img src="{% static 'user_review/heart-regular.svg' %}" alt="like" />
                      {% endif %}                     
                    </div>
                  </button>
              </form>
              
            </div>
              {% endif %}

              {% if animation.name == 'moveup' %}
                <!-- Second box  -->
            <div class="dashboard-library__main-type002">
              <div class="dashboard-library__main-type002--box">
                <div class="dashboard-library__main-type002--circle"  id="a-2" onmouseover="anima.moveUp('a-2',500, 1)"></div>
              </div>

              <p class="dashboard-library__main-type002--name">moveUp</p>
              <div class="dashboard-library__main-type002--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}

              {% if animation.name == 'movedown' %}
              <!-- Third box  -->
            <div class="dashboard-library__main-type003">
              <div class="dashboard-library__main-type003--box">
                <div class="dashboard-library__main-type003--circle" id="a-3" onmouseover="anima.moveDown('a-3',500, 1)"></div>
              </div>

              <p class="dashboard-library__main-type003--name">moveDown</p>
              <div class="dashboard-library__main-type003--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == 'moveleft' %}
              <!-- Fourth box  -->
            <div class="dashboard-library__main-type004">
              <div class="dashboard-library__main-type004--box">
                <div class="dashboard-library__main-type004--circle" id="a-4" onmouseover="anima.moveLeft('a-4',500, 1)"></div>
              </div>

              <p class="dashboard-library__main-type004--name">moveLeft</p>
              <div class="dashboard-library__main-type004--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == 'moveRight'%}
              <!-- Fifth box  -->
            <div class="dashboard-library__main-type005">
              <div class="dashboard-library__main-type005--box">
                <div class="dashboard-library__main-type005--circle" id="a-5" onmouseover="anima.moveRight('a-5',500, 1)"></div>
              </div>

              <p class="dashboard-library__main-type005--name">moveRight</p>
              <div class="dashboard-library__main-type005--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == "blink" %}
            <!-- 6th box  -->
            <div class="dashboard-library__main-type006">
              <div class="dashboard-library__main-type006--box">
                <div class="dashboard-library__main-type006--circle" id="a-6" onmouseover="anima.blink('a-6',500, 1)"></div>
              </div>

              <p class="dashboard-library__main-type006--name">blink</p>
              <div class="dashboard-library__main-type006--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == "fadein" %}
            <!-- 7th box  -->
            <div class="dashboard-library__main-type001">
              <div class="dashboard-library__main-type001--box">
                <div class="dashboard-library__main-type006--circle" id="a-7" onmouseover="anima.fadeIn('a-7',1000, 2)"></div>
              </div>
            
              <p class="dashboard-library__main-type001--name">fadeIn</p>
              <div class="dashboard-library__main-type001--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == "fadeout" %}
            <!-- 8th box  -->
            <div class="dashboard-library__main-type002">
              <div class="dashboard-library__main-type002--box">
                <div class="dashboard-library__main-type002--circle" id="a-8" onmouseover="anima.fadeOut('a-8',1000, 2)"></div>
              </div>
            
              <p class="dashboard-library__main-type002--name">fadeOut</p>
              <div class="dashboard-library__main-type002--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == "pulse" %}
            <!-- 9th box  -->
            <div class="dashboard-library__main-type003">
              <div class="dashboard-library__main-type003--box">
                <div class="dashboard-library__main-type003--circle" id="a-9" onmouseover="anima.pulse('a-9',1000, 2)"></div>
              </div>
            
              <p class="dashboard-library__main-type003--name">pulse</p>
              <div class="dashboard-library__main-type003--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
            {% endif %}
            {% if animation.name == "flip"  %}
            <!-- 10th box  -->
            <div class="dashboard-library__main-type004">
              <div class="dashboard-library__main-type004--box">
                <div class="dashboard-library__main-type004--circle" id="a-10" onmouseover="anima.flip('a-10',1000, 1)"></div>
              </div>
            
              <p class="dashboard-library__main-type004--name">flip</p>
              <div class="dashboard-library__main-type004--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == "shake" %}
            <!-- 11th box  -->
            <div class="dashboard-library__main-type005">
              <div class="dashboard-library__main-type005--box">
                <div class="dashboard-library__main-type005--circle" id="a-11" onmouseover="anima.shake('a-11',500, 1)"></div>
              </div>
            
              <p class="dashboard-library__main-type005--name">shake</p>
              <div class="dashboard-library__main-type005--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == 'rotate'%}
            <!-- 12th box  -->
            <div class="dashboard-library__main-type006">
              <div class="dashboard-library__main-type006--box">
                <div class="dashboard-library__main-type006--circle" id="a-12" onmouseover="anima.rotate('a-12',500, 1)"></div>
              </div>
            
              <p class="dashboard-library__main-type006--name">rotate</p>
              <div class="dashboard-library__main-type006--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              {% endif %}
              {% if animation.name == "slide" %}
            <!-- 13th box  -->
            <div class="dashboard-library__main-type003">
              <div class="dashboard-library__main-type003--box">
                <div class="dashboard-library__main-type006--circle" id="a-13" onmouseover="anima.slide('a-13',500, 1)"></div>
              </div>
            
              <p class="dashboard-library__main-type003--name">slide</p>
              <div class="dashboard-library__main-type003--likes">
                <span>12</span>
                <img src="{% static 'user_review/heart.png' %}" alt="like" />
              </div>
            </div>
              
              {% endif %}
            {% endfor %}   

        

          </div>
        </section>
      </div>
    </div>
  </body>
</html>
