{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'user_review/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'main/favicon.svg' %}" type="image/x-icon">
    <title>Settings</title>
  </head>
  <body>
    <header class="head-top">
      <nav class="nav-top">
        <div class="anim">
          <div class="logo-head">
            <h1>Animate</h1>
          </div>
          <div class="logo-num"><span>99</span></div>
        </div>
        <div class="nav-cont">
          <ul class="nav-list">
            <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a href="{% url 'documentation' %}">Documentation</a></li>
            <li class="nav-item"><a href="#">Dashboard</a></li>
            <li class="nav-item"><a href="{% url 'support' %}">Support</a></li>
          </ul>
        </div>
  
        <div class="btns">
          <a href="{% url 'download' %}"><button class="btn-head">Download Library</button></a>
        </div>
      </nav>
    </header>
    <div class="dashboard">
      <div class="dashboard-sidebar">
        <div class="dashboard-user">
          <img src="{{user.image.url}}" alt="image" class="dashboard-userImage">
          <div class="user-logout">
          <img src="{% static 'user_review/logout.png' %}" alt="heart-img" class="user-logout-img" />
          <a href="{% url 'accounts:logout' %}">
            <p class="title">Logout</p>
          </a>
        </div>
          <p class="dashboard-username">{{user.email}}</p>
    
        </div>
        <div class="user-options">
          <div class="user-animation">
            <img
              src="{% static 'user_review/library.png' %}"
              alt="heart-img"
              class="user-animation-img"
            />
            <a href="{% url 'library' %}"><p class="title">Library</p></a>
          </div>

          <div class="user-usageExamples">
            <img
              src="{% static 'user_review/usage.png' %}"
              alt="heart-img"
              class="user-usageExamples-img"
            />
            <a href="{% url 'usageexamples' %}"
              ><p class="title">Usage Examples</p></a
            >
          </div>

          <div class="user-likes">
            <img
              src="{% static 'user_review/heart-2.png' %}"
              alt="heart-img"
              class="user-likes-img"
            />
            <a href="{% url 'likes' user.pk %}"><p class="title">My Likes</p></a>
          </div>

          <div class="user-settings sidebar-active">
            <img
              src="{% static 'user_review/setting.png' %}"
              alt="heart-img"
              class="user-settings-img"
            />
            <a href="{% url 'settings' user.pk %}"><p class="title">Settings</p></a>
          </div>
        </div>
        <!-- <div class="user-logout">
          <img
            src="{% static 'user_review/logout.png' %}"
            alt="heart-img"
            class="user-logout-img"
          />
          
          <p class="title">Logout</p>
        
        </div> -->
      </div>
      <div class="dashboard-main">
        <!-- Settings page -->
        <section class="settings">
          <h2 class="settings-heading">Settings</h2>
          <div class="settings-main">
            <form class="form-settings" method="POST">
              {% csrf_token %}
              <h3>Name</h3>
              <div class="form-input">
                
                {% comment %} <input type="text" placeholder="Name" /> {% endcomment %}
                {{form.name}}
                <div class="remove">
                  <!-- <img
                    src="{% static 'user_review/cancel.png' %}"
                    alt="remove-icon"
                  />
                  <span>Remove</span> -->
                </div>
              </div>
              <p class="helper-text">
                <!-- Your name may appear around Animate99 where you make
                contributions. You can remove it any time -->
              </p>
              <h3>Twitter Profile Link</h3>
              {% comment %} <input
                type="email"
                name="email"
                id="email"
                placeholder="E-mail"
              /> {% endcomment %}
              {{form.email}}
              <!-- <p class="helper-text">Please use a valid e-mail address</p> -->

              

              {% comment %} <div class="form-input">
                <textarea placeholder="Bio"></textarea>
                <div class="remove">
                  <!-- <img
                    src="{% static 'user_review/cancel.png' %}"
                    alt="remove-icon"
                  />
                  <span>Remove</span> -->
                </div>
              </div> {% endcomment %}
              <!-- <p class="helper-text">Tell us a little about yourself</p> -->
              <div class="form-input">
                {% comment %} <input
                  type="url"
                  name="twitter-link"
                  id="twitter-link"
                  placeholder="Twitter profile link"
                /> {% endcomment %}
                {{form.twitter_url}}
                <div class="remove">
                  <!-- <img
                    src="{% static 'user_review/cancel.png' %}"
                    alt="remove-icon"
                  />
                  <span>Remove</span> -->
                </div>
              </div>
              <h3>GitHub Profile Link</h3>
              <div class="form-input">
                {% comment %} <input
                  type="url"
                  name="github-link"
                  id="github-link"
                  placeholder="Github Profile link"
                /> {% endcomment %}
                {{form.github_url}}
                <div class="remove">
                  <!-- <img
                    src="{% static 'user_review/cancel.png' %}"
                    alt="remove-icon"
                  />
                  <span>Remove</span> -->
                  {% for message in messages %}
                    <p>{{message}}</p>
                  {% endfor %}
                </div>
              </div>
              <p class="helper-text">
                <!-- Some of the fields in this page is optional and can be removed
                at any time and by filling them out you're giving us consent to
                share this data wherever your user profile appears
              </p> -->
               {% comment %} {{ form.as_p }} {% endcomment %}

              <input type="submit" value="Save" />
            </form>

            <!--  Settings for the image section-->
            <div class="settings-image">
             
              <img src="{{user.image.url}}" alt="image">
              <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form.image">{{form.image}}</div>
              <input type="submit" value="Save Picture"  />

                
              </form>

              <style>
                input[value="Save Picture"]{
                  background-color:none;
                  border: solid 1px #232946;
                  color: #232946;
                  padding: 16px 32px;
                  text-decoration: none;
                  margin-top: 2em;
                  cursor: pointer;
                  margin-left: 8em;
                  border-radius: 5px;
                  font-family:sans-serif;
                  font-weight: 700;
                }
              </style>


              <!-- <button id="upload_widget" class="cloudinary-button">Upload files</button> -->
              
              
             
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="small-header">
      <div class="small-header__nav">
        <div class="small-header__logo">
          <h1>Animate</h1>
          <p class="logo-num"><span>99</span></p>
        </div>
        <div class="small-header__menu">
          <a href="#" class="small-header__open" onclick="openNav()"> </a>
        </div>
      </div>
    
      <div class="small-header__sidebar" id="mySidenav">
        <img src="./images/cancel.png" alt="cancel-img" class="small-header__cancel" onclick="closeNav()" />
        <div class="small-header__user">
          <img src="./images/man.jpg" alt="user-image" class="small-header__userImage" />
          <p class="small-header__username">John Doe</p>
        </div>
    
        <div class="small-header__nav-cont">
          <ul class="small-header__nav-list">
            <li class="small-header__nav-item"><a href="#">Home</a></li>
            <li class="small-header__nav-item">
              <a href="#">Documentation</a>
            </li>
            <li class="small-header__nav-item"><a href="#">Dashboard</a></li>
            <li class="small-header__nav-item"><a href="#">Support</a></li>
            <li class="small-header__nav-item"><a href="#">Download</a></li>
          </ul>
        </div>
    
        <div class="small-header__options">
          <div class="small-header__library">
            <img src="./images/library.png" alt="library-img" class="small-header__library-img" />
            <p class="title"><a href="library.html">Library</a></p>
          </div>
    
          <div class="small-header__usageExamples">
            <img src="./images/usage.png" alt="usage-img" class="small-header__usageExamples-img" />
            <p class="title">
              <a href="usageExamples.html">Usage Examples </a>
            </p>
          </div>
    
          <div class="small-header__likes">
            <img src="./images/heart-2.png" alt="heart-img" class="small-header__likes-img" />
            <p class="title"><a href="likes.html">My Likes</a></p>
          </div>
    
          <div class="small-header__settings">
            <img src="./images/setting.png" alt="settings-img" class="small-header__settings-img" />
            <p class="title"><a href="settings.html">Settings</a></p>
          </div>
          <div class="small-header__logout">
            <img src="./images/logout.png" alt="logout-img" class="small-header__logout-img" />
            <p class="title">Logout</p>
          </div>
        </div>
      </div>
    
      <!-- end -->
    </div>
    
    <!-- Javascript -->
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "60%";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
  </body>
</html>
{% comment %}  {% csrf_token %}
        <div>{{form.email.label}}{{form.email}}</div>
        <div>{{form.first_name.label}}{{form.first_name}}</div>
        <div>{{form.last_name.label}}{{form.last_name}}</div>
        <div>{{form.github_url.label}}{{form.github_url}}</div>
        <div>{{form.password1.label}}{{form.password1}}</div>
        <div>{{form.password2.label}}{{form.password2}}</div>
         {% endcomment %}
