{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    <link rel="stylesheet" href="{% static 'user_review/style.css' %}" />
    <title>Usage Examples</title>
  </head>
  <body>
    <header class="head-top">
      <nav class="nav-top">
      <div class="anim">
        <div class="logo-head">
          <h1>Animate</h1>
        </div>
        <div class="logo-num"><span>99</span></div>
      </div>
      <div class="nav-cont">
        <ul class="nav-list">
          <li class="nav-item"><a href="#">Home</a></li>
          <li class="nav-item"><a href="#">Documentation</a></li>
          <li class="nav-item"><a href="#">Dashboard</a></li>
          <li class="nav-item"><a href="#">Support</a></li>
        </ul>
      </div>
      
      <div class="btns">
        <button class="btn-head">Download Library</button>
      </div>
    </nav>
  </header>
    <div class="dashboard">
      <div class="dashboard-sidebar">
        <div class="dashboard-user">
          <img src="{% static 'user_review/man.jpg' %}" alt="user-image" class="dashboard-userImage" />
          <p class="dashboard-username">John Doe</p>
        </div>
        <div class="user-options">
          <div class="user-animation">
            <img src="{% static 'user_review/library.png' %}" alt="heart-img" class="user-animation-img" />
            <a href="{% url 'library' %}">
              <p class="title">Library</p>
            </a>
          </div>
    
          <div class="user-usageExamples">
            <img src="{% static 'user_review/usage.png' %}" alt="heart-img" class="user-usageExamples-img" />
            <a href="{% url 'usageexamples' %}">
              <p class="title">Usage Examples</p>
            </a>
          </div>
    
          <div class="user-likes">
            <img src="{% static 'user_review/heart-2.png' %}" alt="heart-img" class="user-likes-img" />
            <a href="{% url 'likes' %}">
              <p class="title">My Likes</p>
            </a>
          </div>
    
          <div class="user-settings sidebar-active">
            <img src="{% static 'user_review/setting.png' %}" alt="heart-img" class="user-settings-img" />
            <a href="{% url 'settings' %}">
              <p class="title">Settings</p>
            </a>
          </div>
        </div>
        <div class="user-logout">
          <img
            src="{% static 'user_review/logout.png' %}"
            alt="heart-img"
            class="user-logout-img"
          />
          <p class="title">Logout</p>
        </div>
      </div>

      <div class="dashboard-main">
        

        <!-- dashboard-usageExamples"-->
        <section class="dashboard-usageExamples">
          <h2 class="dashboard-usageExamples__heading">Usage Examples!</h2>
          <div class="dashboard-usageExamples__main">
            <div class="codepen-box">
              <div class="codepen-screen">
                <iframe height="300" style="width: 100%;" scrolling="no" title="Bouncing Clouds"
                  src="https://codepen.io/gneisscode/embed/LYddEdW?default-tab=js%2Cresult&editable=true&theme-id=light"
                  frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/gneisscode/pen/LYddEdW">
                    Bouncing Clouds</a> by gneisscode (<a href="https://codepen.io/gneisscode">@gneisscode</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
              </div>
              <div class="codepen-example">
                <p class="codepen-example__name">Bouncing Clouds</p>
                <div class="codepen-example__likes">
                  
                </div>
              </div>
            </div>

            <div class="codepen-box">
              <div class="codepen-screen">
                <iframe height="300" style="width: 100%;" scrolling="no" title="404"
                  src="https://codepen.io/gneisscode/embed/ZExxGzQ?default-tab=js%2Cresult&editable=true&theme-id=light"
                  frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/gneisscode/pen/ZExxGzQ">
                    404</a> by gneisscode (<a href="https://codepen.io/gneisscode">@gneisscode</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
              </div>
              <div class="codepen-example">
                <p class="codepen-example__name">404</p>
                <div class="codepen-example__likes">
                  
                </div>
              </div>
            </div>


            <div class="codepen-box">
              <div class="codepen-screen">
                <iframe height="300" style="width: 100%;" scrolling="no" title="radial gradient"
                  src="https://codepen.io/gneisscode/embed/QWmmjyv?default-tab=js%2Cresult&editable=true&theme-id=light"
                  frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/gneisscode/pen/QWmmjyv">
                    radial gradient</a> by gneisscode (<a href="https://codepen.io/gneisscode">@gneisscode</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
              </div>
              <div class="codepen-example">
                <p class="codepen-example__name">Radial</p>
                <div class="codepen-example__likes">
                </div>
              </div>
            </div>

            <div class="codepen-box">
              <div class="codepen-screen">
                <iframe height="300" style="width: 100%;" scrolling="no" title="PEACE NOT WAR!"
                  src="https://codepen.io/gneisscode/embed/MWVVwZo?default-tab=js%2Cresult&editable=true&theme-id=light"
                  frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/gneisscode/pen/MWVVwZo">
                    PEACE NOT WAR!</a> by gneisscode (<a href="https://codepen.io/gneisscode">@gneisscode</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
              </div>
              <div class="codepen-example">
                <p class="codepen-example__name">Peace not war</p>
                <div class="codepen-example__likes">
                 
                </div>
              </div>
            </div>
            </div>

            <!-- <div class="dashboard-usageExamples__btn">
              <a href="#">&lt; <span>Previous</span> </a>
              <a href="#"> <span>Next </span>&gt;</a>
            </div> -->
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
