@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.nav-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 2px 0px 0px;
  gap: 130px;

  width: 918px;
  height: 48px;
}

header {
  background-color: #232946;
  max-width: 100%;
  padding-left: 5em;
  padding-right: 4em;
  height: 700px;
  /* padding: 0.5em; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  gap: 30px;
  width: 475px;
  height: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 3px 0px 0px;
  gap: 140px;
  margin-bottom: 4em;
  margin-top: 1em;
}

nav a {
  text-decoration: none;
  color: #d0d6f2;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  cursor: pointer;
}

nav a:hover {
  color: #eebbc3;
  text-decoration: underline #eebbc3;
}

.btn-reg-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 8px;

  width: 100px;
  height: 38px;

  background: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  border: none;
}

.btn-head {
  padding: 8px, 12px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  border: 1px solid #ffa9b6;
  background-color: transparent;
  color: #ffa9b6;
  line-height: 23.44px;
  width: 100px;
  height: 38px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 220px;
  height: 48px;
}

.btn-info-text {
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 16px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  border: none;
}

.logo-head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 10px;
  width: 137px;
  height: 64px;
}

.logo-head h1 {
  width: 137px;
  height: 44px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  color: #ffffff;
}

.logo-num {
  width: 50px;
  height: 50px;
  background: #eebbc3;
  border-radius: 8px;
  padding: 0.4em;
}

.logo-num span {
  color: #232946;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.anim {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2em;
  gap: 28px;
  width: 197px;
  height: 64px;
}

ul {
  list-style-type: none;
}

.nav-item {
  padding: 1em;
  max-width: fit-content;
}

.header-info {
  display: flex;
  width: 100%;
  margin-top: 6em;
  margin-left: 1em;
}

.header-info-text {
  width: 58%;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  /* padding: 1em; */
  gap: 40px;
}

.header-info-text h1 {
  max-width: 75%;
  margin-bottom: 0.5em;
}

.header-info-text p {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 2em;
}

.header-text-js {
  color: #ffa9b6;
}

.header-info-image {
  display: flex;
  width: 40%;
  margin-right: 5em;
}

.header-info-image img {
  width: 400px;
  height: 420px;
  left: 1481px;
  top: 190px;
  margin-bottom: 4em;
}

/*               MID SECTION BEGINS           */

.middle {
  display: flex;
  flex-direction: column;
  background-image: url('bg.png');
  background-size: cover;
  /* background-color: white; */
  padding: 4em;
  width: 100%;
}

.middle-text {
  width: 80%;
  margin-bottom: 2em;
  font-family: "DM Sans", sans-serif;
  margin-left: 2em;
}

.middle-text h1 {
  color: #232946;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 24px;
}

.middle-text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 72px;
  line-height: 150%;
  text-align: justify;
  color: #232946;
}

.mid-box-1 {
  display: flex;
  border: 1px solid #232946;
  border-radius: 1em;
  background-color: #232946;
  max-width: 50%;
  max-height: fit-content;
  margin-bottom: 8em;
  padding: 2em;
  margin-left: 6em;
}

.box-1-text {
  width: 90%;
  line-height: 72px;
  line-height: 150%;
}

.box-1-text h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1em;
  color: white;
}

.box-1-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-bottom: 1em;
}

.reg-btn,
.doc-btn,
.use-btn {
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #ffa9b6;
  color: #232946;
}

.mid-box-2 {
  display: flex;
  align-self: flex-end;
  border: 1px solid #232946;
  border-radius: 1em;
  background-color: #232946;
  max-width: 50%;
  max-height: fit-content;
  margin-bottom: 8em;
  padding: 2em;
  margin-right: 7em;
}

.box-2-text {
  width: 90%;
  line-height: 72px;
  line-height: 150%;
}

.box-2-text h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1em;
  color: white;
}

.box-2-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-bottom: 1em;
}

.mid-box-3 {
  display: flex;
  border: 1px solid #232946;
  border-radius: 1em;
  background-color: #232946;
  max-width: 50%;
  max-height: fit-content;
  margin-bottom: 3em;
  padding: 2em;
  margin-left: 6em;
}

.box-3-text {
  width: 90%;
  line-height: 72px;
  line-height: 150%;
}

.box-3-text h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1em;
  color: white;
}

.box-3-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-bottom: 1em;
}

.mid-box-1:hover,
.mid-box-2:hover,
.mid-box-3:hover {
  animation-name: example;
  animation-duration: 0.25s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mid-icons {
  width: 200px;
  height: 200px;
}

/*         BOTTOM SECTION       */

.bottom {
  background-color: #232946;
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottom h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 2.5em;
  margin-right: 3em;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 100%;
  height: 350px;
  margin-top: 0.5em;
}

.bottom-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 2em;
  border-left: 1px solid white;
  margin-bottom: 2em;
}

.ball-cont-1 {
  align-content: center;
  width: 200px;
  height: 200px;
  background-color: #ffa9b6;
  border-radius: 40px;
  padding: 3em;
  margin-left: 2em;
  margin-bottom: 2em;
}

.ball-cont-2 {
  width: 200px;
  height: 200px;
  background-color: #b2e2e8;
  border-radius: 40px;
  padding: 3em;
  margin-bottom: 2em;
}

.ball-cont-3 {
  width: 200px;
  height: 200px;
  background-color: #2a3e74;
  border-radius: 40px;
  padding: 3em;
  margin-bottom: 2em;
}

.ball-1,
.ball-2,
.ball-3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fffffe;
  line-height: 42px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ball {
  width: 100px;
  height: 100px;
  left: 67px;
  top: 68px;
  background: linear-gradient(180deg, #fdf6f3 0%, #ccd1de 100%);
  border-radius: 50%;
}

.bottom-left {
  width: 700px;
  height: 300px;
  justify-content: left;
  padding-left: 4em;
  padding-right: 4em;
}

.bottom-left p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 2em;
  text-align: left;
}

.bottom-left-btn {
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 16px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  border: none;
  margin-right: 17em;
}

.carousel-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  gap: 100px;
  margin-top: 2em;
  margin-right: 8em;
}

.carousel-btn-1 button {
  cursor: pointer;
  border: none;
  width: 50%;
  border-radius: 50%;
  background-color: #eebbc3;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.carousel-btn-2 button {
  cursor: pointer;
  width: 50%;
  border: none;
  border-radius: 50%;
  background-color: #eebbc3;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
}

/*         FOOTER SECTION          */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 380px;
  left: 0px;
  top: 3343px;
  background: #f1f3fb;
  padding: 2em;
  align-content: center;
}

.footer-top {
  align-self: center;
  display: flex;
  border-bottom: 1px solid #232946;
  width: 90%;
  gap: 6em;
  /* margin-top: 2em; */
}

.foot-top-left {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.logo-foot {
  display: flex;
  gap: 26px;
}

.logo-foot .logo-num {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background: #eebbc3;
  border-radius: 8px;
  padding: 0.2em;
}

.logo-foot h1 {
  width: 137px;
  height: 44px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  color: #232946;
}

.foot-top-text {
  margin-top: 1.5em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 21.6px;
  color: #232946;
}

.foot-top-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  gap: 20px;
  width: 761px;
  height: 219px;
  left: 631px;
  top: 75px;
}

.foot-top-right-1,
.foot-top-right-2,
.foot-top-right-3 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 31px;
  color: #232946;
}

.foot-top-right-1 p,
.foot-top-right-2 p,
.foot-top-right-3 p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  text-decoration-line: underline;
  cursor: pointer;
  color: #232946;
}

.footer-mid {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  gap: 1em;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  color: #232946;
}

.footer-mid-top {
  display: flex;
  gap: 0.5em;
}

.create {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.create p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 186px;
  gap: 10px;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 443px;
  background-color: #f4d2d7;
}

.footer-bottom p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #232946;
}

/*                                    LARGER LAPTOP SCREENS                                          */

@media only screen and (min-width: 1366px) {
  /*                HEADER               */

  .nav-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2px 0px 0px;
    gap: 130px;

    width: 918px;
    height: 48px;
  }

  header {
    background-color: #232946;
    max-width: 100%;
    padding-left: 5em;
    padding-right: 4em;
    height: 700px;
    /* padding: 0.5em; */
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    gap: 30px;
    width: 475px;
    height: 30px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 3px 0px 0px;
    gap: 140px;
    margin-bottom: 4em;
    margin-top: 1em;
  }

  nav a {
    text-decoration: none;
    color: #d0d6f2;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    cursor: pointer;
  }

  nav a:hover {
    color: #eebbc3;
    text-decoration: underline #eebbc3;
  }

  .btn-reg-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 8px;

    width: 100px;
    height: 38px;

    background: #ffffff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    border: none;
  }

  .btn-head {
    padding: 8px, 12px;
    border-radius: 4px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    border: 1px solid #ffa9b6;
    background-color: transparent;
    color: #ffa9b6;
    line-height: 23.44px;
    width: 100px;
    height: 38px;
  }

  .btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 220px;
    height: 48px;
  }

  .btn-info-text {
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 16px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    border: none;
  }

  .logo-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
    width: 137px;
    height: 64px;
  }

  .logo-head h1 {
    width: 137px;
    height: 44px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #ffffff;
  }

  .logo-num {
    width: 50px;
    height: 50px;
    background: #eebbc3;
    border-radius: 8px;
    padding: 0.4em;
  }

  .logo-num span {
    color: #232946;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .anim {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
    gap: 28px;
    width: 197px;
    height: 64px;
  }

  ul {
    list-style-type: none;
  }

  .nav-item {
    padding: 1em;
    max-width: fit-content;
  }

  .header-info {
    display: flex;
    width: 100%;
    margin-top: 6em;
    margin-left: 1em;
  }

  .header-info-text {
    width: 58%;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    /* padding: 1em; */
    gap: 40px;
  }

  .header-info-text h1 {
    max-width: 75%;
  }

  .header-info-text p {
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 2em;
  }

  .header-text-js {
    color: #ffa9b6;
  }

  .header-info-image {
    display: flex;
    width: 40%;
    margin-right: 5em;
  }

  .header-info-image img {
    width: 400px;
    height: 420px;
    left: 1481px;
    top: 190px;
    margin-bottom: 4em;
  }

  /*               MID SECTION BEGINS           */

  .middle {
    display: flex;
    flex-direction: column;
    background-image: url('bg.png');
    background-size: cover;
    /* background-color: white; */
    padding: 4em;
    width: 100%;
  }

  .middle-text {
    width: 80%;
    margin-bottom: 2em;
    font-family: "DM Sans", sans-serif;
  }

  .middle-text h1 {
    color: #232946;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 24px;
  }

  .middle-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 72px;
    line-height: 150%;
    text-align: justify;
    color: #232946;
  }

  .mid-box-1 {
    display: flex;
    border: 1px solid #232946;
    border-radius: 1em;
    background-color: #232946;
    max-width: 50%;
    max-height: fit-content;
    margin-bottom: 8em;
    padding: 2em;
    margin-left: 6em;
  }

  .box-1-text {
    width: 90%;
    line-height: 72px;
    line-height: 150%;
  }

  .box-1-text h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1em;
    color: white;
  }

  .box-1-text p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-bottom: 1em;
  }

  .reg-btn,
  .doc-btn,
  .use-btn {
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    border: none;
    background-color: #ffa9b6;
    color: #232946;
  }

  .mid-box-2 {
    display: flex;
    align-self: flex-end;
    border: 1px solid #232946;
    border-radius: 1em;
    background-color: #232946;
    max-width: 50%;
    max-height: fit-content;
    margin-bottom: 8em;
    padding: 2em;
    margin-right: 7em;
  }

  .box-2-text {
    width: 90%;
    line-height: 72px;
    line-height: 150%;
  }

  .box-2-text h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1em;
    color: white;
  }

  .box-2-text p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-bottom: 1em;
  }

  .mid-box-3 {
    display: flex;
    border: 1px solid #232946;
    border-radius: 1em;
    background-color: #232946;
    max-width: 50%;
    max-height: fit-content;
    margin-bottom: 3em;
    padding: 2em;
    margin-left: 6em;
  }

  .box-3-text {
    width: 90%;
    line-height: 72px;
    line-height: 150%;
  }

  .box-3-text h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1em;
    color: white;
  }

  .box-3-text p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-bottom: 1em;
  }

  .mid-box-1:hover,
  .mid-box-2:hover,
  .mid-box-3:hover {
    animation-name: example;
    animation-duration: 0.25s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .mid-icons {
    width: 200px;
    height: 200px;
  }

  /*         BOTTOM SECTION       */

  .bottom {
    background-color: #232946;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .bottom h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 2.5em;
    margin-right: 3em;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 100%;
    height: 350px;
    margin-top: 0.5em;
  }

  .bottom-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 2em;
    border-left: 1px solid white;
    margin-bottom: 2em;
  }

  .ball-cont-1 {
    align-content: center;
    width: 200px;
    height: 200px;
    background-color: #ffa9b6;
    border-radius: 40px;
    padding: 3em;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  .ball-cont-2 {
    width: 200px;
    height: 200px;
    background-color: #b2e2e8;
    border-radius: 40px;
    padding: 3em;
    margin-bottom: 2em;
  }

  .ball-cont-3 {
    width: 200px;
    height: 200px;
    background-color: #2a3e74;
    border-radius: 40px;
    padding: 3em;
    margin-bottom: 2em;
  }

  .ball-1,
  .ball-2,
  .ball-3 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fffffe;
    line-height: 42px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ball {
    width: 100px;
    height: 100px;
    left: 67px;
    top: 68px;
    background: linear-gradient(180deg, #fdf6f3 0%, #ccd1de 100%);
    border-radius: 50%;
  }

  .bottom-left {
    width: 700px;
    height: 300px;
    justify-content: left;
    padding-left: 4em;
    padding-right: 4em;
  }

  .bottom-left p {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 2em;
    text-align: left;
  }

  .bottom-left-btn {
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 16px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    border: none;
    margin-right: 17em;
  }

  .carousel-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    gap: 100px;
    margin-top: 2em;
    margin-right: 8em;
  }

  .carousel-btn-1 button {
    cursor: pointer;
    border: none;
    width: 50%;
    border-radius: 50%;
    background-color: #eebbc3;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
  }

  .carousel-btn-2 button {
    cursor: pointer;
    width: 50%;
    border: none;
    border-radius: 50%;
    background-color: #eebbc3;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
  }

  /*         FOOTER SECTION          */

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 380px;
    left: 0px;
    top: 3343px;
    background: #f1f3fb;
    padding: 2em;
    align-content: center;
  }

  .footer-top {
    align-self: center;
    display: flex;
    border-bottom: 1px solid #232946;
    width: 90%;
    gap: 6em;
    /* margin-top: 2em; */
  }

  .foot-top-left {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .logo-foot {
    display: flex;
    gap: 26px;
  }

  .logo-foot .logo-num {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #eebbc3;
    border-radius: 8px;
    padding: 0.2em;
  }

  .logo-foot h1 {
    width: 137px;
    height: 44px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #232946;
  }

  .foot-top-text {
    margin-top: 1.5em;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 21.6px;
    color: #232946;
  }

  .foot-top-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    gap: 20px;
    width: 761px;
    height: 219px;
    left: 631px;
    top: 75px;
  }

  .foot-top-right-1,
  .foot-top-right-2,
  .foot-top-right-3 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    color: #232946;
  }

  .foot-top-right-1 p,
  .foot-top-right-2 p,
  .foot-top-right-3 p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #232946;
  }

  .footer-mid {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    gap: 1em;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;

    color: #232946;
  }

  .footer-mid-top {
    display: flex;
    gap: 0.5em;
  }

  .create {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .create p {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 186px;
    gap: 10px;
    width: 100%;
    height: 72px;
    left: 0px;
    top: 443px;
    background-color: #f4d2d7;
  }

  .footer-bottom p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #232946;
  }
}

/*                                      MEDIUM LAPTOP SCREENS                                             */
@media only screen and (min-width: 1201px) and (max-width: 1365px) {
  nav {
    gap: 70px;
  }

  .anim {
    margin-left: -2.5em;
  }

  .nav-list {
    margin-left: 2em;
    margin-right: 1em;
  }

  .nav-cont {
    gap: 70px;
  }

  .header-info {
    padding: 1em;
  }

  .header-info-text {
    margin-left: -2em;
  }

  .header-info-text h1 {
    max-width: 100%;
  }

  .middle-text {
    margin-left: -0.5em;
  }

  .carousel {
    max-width: 100%;
  }

  .bottom-left {
    max-width: 35%;
  }

  .mid-box-1,
  .mid-box-2,
  .mid-box-3 {
    max-width: 55%;
    padding: 2.5em;
  }

  .mid-box-1 {
    margin-left: 10em;
  }

  .mid-box-2 {
    margin-right: -1.2em;
  }

  .bottom-left-btn {
    margin-right: 7em;
  }

  .bottom h1 {
    margin-left: 4em;
  }

  .footer-bottom p {
    font-size: 14px;
  }
}

/*                                    SMALLER LAPTOP SCREENS                         */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .nav-list {
    gap: 10px;
    margin-right: 2em;
    padding: 0px;
  }

  .nav-list a {
    font-size: 18px;
  }

  .nav-cont {
    gap: 40px;
  }

  nav {
    gap: 40px;
    padding-left: 1em;
    padding-right: 4em;
  }

  .anim {
    margin-left: -5.5em;
    margin-right: 2.2em;
    gap: 6px;
  }

  .logo-head h1 {
    font-size: 32px;
  }

  .logo-num span {
    font-size: 28px;
  }

  .btns {
    margin-left: -1.5em;
    padding-left: 1em;
    padding-right: 2em;
  }

  .header-info {
    margin-left: -2em;
  }

  .header-info-image img {
    margin-left: 2em;
  }

  .header-info-text h1 {
    font-size: 32px;
  }

  .carousel {
    max-width: 100%;
  }

  .bottom-left {
    max-width: 30%;
  }

  .bottom-left p {
    font-size: 18px;
  }

  .bottom-left-btn {
    margin-right: 2em;
  }

  .bottom h1 {
    margin-left: 3em;
  }

  .ball-cont-2,
  .ball-cont-3,
  .ball-cont-1 {
    width: 170px;
    height: 170px;
  }

  .ball {
    width: 75px;
    height: 75px;
  }

  .middle-text p {
    max-width: 100%;
  }

  .middle-text {
    margin-left: -1em;
  }

  .mid-box-1,
  .mid-box-2,
  .mid-box-3 {
    max-width: 65%;
  }

  .mid-icons {
    width: 150px;
    height: 150px;
  }

  .mid-box-2 {
    margin-right: -3em;
  }

  .footer-top {
    padding: 1em;
  }

  .footer-bottom {
    width: 100%;
  }

  .footer-bottom p {
    font-size: 11px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1023px) {
  .nav-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2px 0px 0px;
    gap: 0px;
    width: 918px;
    height: 48px;
  }

  .anim {
    margin-left: -2.5em;

    gap: 6px;
  }

  .logo-head h1 {
    font-size: 32px;
  }

  .logo-num span {
    font-size: 28px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0px;
    width: 475px;
    height: 30px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 3px 0px 0px;
    gap: 25px;
    margin-bottom: 4em;
    margin-top: 1em;
  }

  nav a {
    text-decoration: none;
    color: #d0d6f2;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
    cursor: pointer;
  }

  .btns {
    margin-left: -1.5em;
    padding-left: 1em;
    padding-right: 2em;
  }

  .header-info {
    display: flex;
    width: 100%;
    /*margin-left: 2em; */
  }

  .header-info-text {
    width: 85%;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    gap: 40px;
  }

  .header-info-text h1 {
    max-width: 95%;
  }

  .header-info-text p {
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 1em;
  }

  .header-text-js {
    color: #ffa9b6;
  }

  .header-info-image {
    display: flex;
    width: 40%;
  }

  .header-info-image img {
    margin-right: 1em;
    width: 330px;
    height: 350px;
    left: 1481px;
    top: 190px;
    margin-bottom: 4em;
  }

  .mid-box-1,
  .mid-box-2,
  .mid-box-3 {
    max-width: 70%;
  }

  .mid-box-2 {
    margin-right: -1.5em;
  }

  .box-1-text p,
  .box-2-text p,
  .box-3-text p {
    font-size: 14px;
  }

  .middle-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 72px;
    line-height: 150%;
    text-align: justify;
    color: #232946;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;
    height: 350px;
    margin-top: 0.5em;
  }

  .bottom-right {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 2em; */
    border-left: 1px solid white;
    margin-bottom: 2em;
  }

  .bottom-left {
    width: 350px;
    height: 300px;
    justify-content: left;
    padding-left: 4em;
    padding-right: 4em;
  }

  .bottom-left p {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 2em;
    text-align: left;
  }

  .bottom h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 2.5em;
    margin-right: 3em;
    margin-left: 4.5em;
  }

  .bottom-left-btn {
    padding: 0.3em;
    border-radius: 0.2em;
    font-size: 16px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    border: none;
    margin-right: 4.5em;
  }

  .ball-cont-1 {
    align-content: center;
    width: 150px;
    height: 150px;
    background-color: #ffa9b6;
    border-radius: 40px;
    padding: 3em;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  .ball-cont-2 {
    width: 150px;
    height: 150px;
    background-color: #b2e2e8;
    border-radius: 40px;
    padding: 3em;
    margin-bottom: 2em;
  }

  .ball-cont-3 {
    width: 150px;
    height: 150px;
    background-color: #2a3e74;
    border-radius: 40px;
    padding: 3em;
    margin-bottom: 2em;
  }

  .ball-1,
  .ball-2,
  .ball-3 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fffffe;
    line-height: 42px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ball {
    width: 60px;
    height: 60px;
    left: 67px;
    top: 68px;
    background: linear-gradient(180deg, #fdf6f3 0%, #ccd1de 100%);
    border-radius: 50%;
  }

  .foot-top-left p {
    font-size: 14px;
  }

  .foot-top-right-1 h2,
  .foot-top-right-2 h2,
  .foot-top-right-3 h2 {
    font-size: 18px;
  }

  .footer-top {
    padding-bottom: 2em;
  }

  .footer-bottom p {
    font-size: 10.9px;
    text-align: center;
  }
}
